*{
  margin: 0;
  padding: 0;
}

.container{
    display: flex;
    justify-content:center;
    align-items: center;
    border: 2px solid rgb(36, 139, 236);
    border-radius: 10px;
    gap: 1em;
    width: 400px;
    height: auto;
    padding: 10px;
    margin-top: 80px;

}

